<div class="container">
  <div class="conversation">
    <% @recipient = @conversation.recipient(current_user) %>

    <div class="conversation-recipient">
      <% if @recipient.profile.image.attached? %>
        <%= image_tag @recipient.profile.image, alt: 'Profile picure', class: "user-profile-picture" %>
      <% else %>
        <%= image_tag "profile-default.png", alt: 'Profile picure', class: "user-profile-picture" %>
      <% end %>

      <h3 class="recipient-name"><%= @recipient.username %></h3>
    </div>
        <% @messages.each do |message| %>
        <% if message.body %>
        <% user = User.find(message.user_id) %>
        <%= user.email %><%= message.message_time %>
        <%= message.body %>
        <% end %>
        <% end %>
        <%= form_for [@conversation, @message] do |f| %>
        <%= f.text_area :body %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
        <%= f.submit "Send" %>
        <% end %>
  </div>
</div>