<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(listing.errors.count, 'error') %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class='listing-question ml-4 mb-3'>Where will you be selling your car?</h3>
  <div class='form-group mb-3 ml-3'>
    <%= form.label :state_id, class:'col form-label' %>
    <%= form.collection_select(:state_id, State.all, :id, :name, { :selected => 7 }, { class: 'form-control w-25 ml-3' }) %>
  </div>

  <div class='form-group mb-3 ml-3'>
    <%= form.label :postcode, class:'col form-label' %>
    <%= form.number_field :postcode, { class: 'form-control w-25 ml-3' } %>
  </div>

  <div class='form-group mb-3 ml-3'>
    <%= form.label :price, class:'col form-label' %>
    <%= form.number_field :price, placeholder: '$AUD', class: 'form-control w-25 ml-3' %>
  </div>

  <div class='form-group mb-3 ml-3'>
    <%= form.label :mileage, class:'col form-label' %>
    <%= form.number_field :mileage, placeholder: 'in kms', class: 'form-control w-25 ml-3' %>
  </div>

  <div class='form-group mb-3 ml-3'>
    <%= form.label :description, class:'col form-label' %>
    <%= form.text_area :description, size: '50x15', class: 'form-control w-25 h-25 ml-3' %>
  </div>

  <h2 class='mt-5 mb-3 ml-4'> Features </h2>
  <div class='form-check mb-3 container-fluid'> 
    <div class='feature-container container-fluid'>

      <!-- no other way to really just get listing to only display 2 columns, since can't use specific iterating method -->
      <!-- to create a new div row for every 2 featurs created. Puts a break line for every even number of i. -->
      <% i = 0 %>
      <%= form.collection_check_boxes :feature_ids, @features.sort, :id, :name do |b| %>
        <%= b.check_box class: 'form-check-box col-0' %>
        <%= b.label class: 'form-check-label content col-sm-4 col-md-4 col-lg-4 mb-4' %>
        <% i += 1 %>
        <% if i.even? %>
          <br>
        <% end %>
      <% end %> <!-- close form.collection -->
    </div> <!-- close feature-container -->
  </div> <!-- close form-check -->

  <!-- Code from https://stevenyue.com/blogs/validate-attachment-file-size-and-type-in-rails/ -->
  <div class='form-group mb-3 ml-4'>
    <%= form.label :pictures, 'Upload Images', class: 'font-bold' %>
    <%= form.file_field :pictures, class:'form-control-file', multiple: true, accept: 'image/jpg, image/png, image/jpeg' %>
  </div> 

  <div class='actions form-submit'>
    <%= form.submit 'Submit', class: 'btn btn-primary ml-4 mt-3 mb-4' %>
  </div>
<% end %>

<!-- NO IDEA WHY LISTINGS PARAMS ID DOESN'T EXIST AFTER SUBMITTING FORM -->
