<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="listing-question">Where will you be selling your car?</h3>
  <div class="form-group mb-3 ml-2">
    <%= form.label :state_id, class:"col form-label" %>
    <%= form.collection_select(:state_id, State.all, :id, :name) %>
  </div>

  <div class="form-group mb-3 ml-2">
    <%= form.label :postcode, class:"col form-label" %>
    <%= form.text_field :postcode %>
  </div>

  <div class="form-group mb-3 ml-2">
    <%= form.label "What colour is your car?" %>
    <%= form.collection_select(:colour_id, Colour.all, :id, :name) %>
  </div>

  <div class="form-group mb-3 ml-2">
    <%= form.label :price, class:"col form-label" %>
    <%= form.number_field :price, placeholder: '$AUD' %>
  </div>

  <div class="form-group mb-3 ml-2">
    <%= form.label :mileage, class:"col form-label" %>
    <%= form.number_field :mileage, placeholder: 'in kms' %>
  </div>

  <div class="form-group mb-3 ml-2">
    <%= form.label :description, class:"col form-label" %>
    <%= form.text_area :description, size: "80x20" %>
  </div>

  <div class="form-group mb-3 ml-2">
    <%= form.hidden_field :image %>
    <%= form.file_field :image, class:"form-control-file", multiple: true, accept: "image/jpg,image/png,image/jpeg" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
