<p id='notice' class='alert-dismissible fade show'><%= notice %></p>

<div class='container-fluid'>

  <%= render 'shared/listings-sidebar' %>

  <div class='filters d-flex flex-direction-row row'>
    <div class='search_filter col-2 mr-5'>
    
      <%= render 'shared/listings-search' %>
    
    </div>
    
    <div class='listings-sort col-2'>

      <%= render 'shared/listings-sortby' %>
    
    </div>
  </div>

  <div class='listings-cards-container'>

    <% @listings.each do |listing| %>
      <!-- Don't need conditional for if listing.sold == false since controller already
           handles this. -->
      <%= render 'shared/listing-card', listing: listing %>
    <% end %>
  </div> <!-- close listings-cards-container -->
</div> <!-- close container -->
