<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Variant</th>
      <th>Colour</th>
      <th>Title</th>
      <th>Price</th>
      <th>Mileage</th>
      <th>Description</th>
      <th>State</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing.each do |listing| %>
      <tr>
        <td><%= User.find(listing.user_id).username.capitalize %></td>
        <td><%= Variant.find(listing.variant_id).name %></td>
        <td><%= Colour.find(listing.colour_id).name %></td>
        <td><%= listing.title %></td>

        <td><%= number_with_delimiter(listing.price) %></td>
        <td><%= "#{listing.mileage} kms" %></td>
        <td><%= listing.description %></td>
        <td><%= State.find(listing.state_id).name %></td>
        <td><%= listing.sold %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) if current_user.id == listing.user_id %></td>
        <td><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } if current_user.id == listing.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_variant_path %>
