<div class='container d-flex flex-column flex-md-row px-2 my-2 my-md-5'>
  <div class='content col-12 col-md-7 col-lg-8 p-0 pr-md-3'>

    <!-- Logic to show all listing images, user will be able to select thumbnail -->
    <!-- and image will be loaded as main image --> 
    <div class='col-12 p-0 main-preview mb-4'>
      <% if @listing.pictures.attached? %>
        <div class='listing-show-image-main-container'>
          <%= image_tag @listing.pictures[0], class: 'listing-show-image-main' %>
        <div>
        <div class='listing-show-image-thumbnail-container'>
          <% (0...@listing.pictures.count).each do |p| %>
            <%= image_tag @listing.pictures[p], class: 'listing-show-image-thumnbnail' %>
          <% end %>
        <div>
      <% else %>
        <%= image_tag 'default-image.png', class: 'listing-show-image-main' %>
      <% end %>
    </div>
  </div> <!-- close content -->

  <div class= 'sidebar col-lg-4 p-0 mx-2 d-md-block'>
    <h1 class='mb-sm-2 mb-md-5'><%=@listing.title %></h1>
    <div class= 'listing-features-container'>
      <% @listing.features.each do |feature| %>
        <ul>
          <span class='badge badge-danger'><li class='feature'><%= feature.name %></li></span>
        </ul>
      <% end %>
    </div>
    
    <% if current_user.id != @listing.user.id && current_user && @listing.sold == false %>
      <!-- Goes to create_payment_intent_path, posts to something that renders JS using remote: true (AJAX) -->
      <!-- Renders create_payment_intent.js.erb JS file, to redirect to our stripe checkout with the correct -->
      <!-- sessionId. We've also got our stripe public key, so it's going to our stripe. -->
      <!-- Won't see the redirectToCheckout in the create_payment_intent.html.erb until everything we need to happen has happened. -->
      <!-- We don't create a payment_intent until this button is clicked. -->
      <%= button_to "Buy: $#{number_with_delimiter(@listing.price / 100)}", create_payment_intent_path, method: :post, remote: true, params:{id: @listing.id}, class: 'btn btn-primary p-3' %>
    <% elsif @listing.sold == true %>
      <button class='btn btn-secondary' disabled>SOLD</button>
    <% else %>
      <%= button_to 'Log In to Buy', new_user_session_path, class: 'btn btn-info' %>
    <% end %>

    <div class='form-row mt-3'>
      <div class ='d-flex justify-content-evenly mb-3'>
      <%= link_to 'Edit', edit_listing_path(@listing.id), class: 'btn btn-warning mr-3' if current_user.id == @listing.user_id %>
      <%= link_to 'Delete', @listing, method: :delete, data: {confirm: 'Are you sure you want to delete your listing?'} , class: 'btn btn-danger mr-3' if current_user.id == @listing.user_id %>
      </div>
    </div> <!-- close form-row -->
  </div> <!-- close sidebar -->
</div> <!-- close container -->


<div class='wrapper listing-description'>
  <p class='mt-2 blockquote'><%= @listing.description %></p>
</div>