<div class='container-fluid d-flex flex-column flex-md-row px-2 my-2 my-md-5'>
  <div class='container-fluid content col-16 col-md-20 col-lg-20 p-0 pr-md-3'>

    <!-- Logic to show all listing images, user will be able to select thumbnail -->
    <!-- and image will be loaded as main image --> 
    <div class='col-12 p-0 main-preview mb-4'> 
      <% if @listing.pictures.attached? %>
<!-- No time to get image carousel working.. 
        <div class='image-main-container'>
          <%= image_tag @listing.pictures[0], width: '800', height: 'auto', class: 'main' %>
        <div>
-->
        <div class='image-thumbnail-container text-center'>
          <% (0...@listing.pictures.count).each do |p| %>
            <%= image_tag @listing.pictures[p], width: '800', height: 'auto', class: 'previews my-1 mr-1' %>
          <% end %>
        <div>
      <% else %>
        <%= image_tag 'default-image.png', class: 'image-main' %>
      <% end %>
    </div>
  </div> <!-- close content -->

  <div class= 'sidebar container-fluid col-lg-16 p-2 mx-2 d-flex flex-column align-items-center'>
    <h1 class='mb-sm-2 mb-md-3 mt-sm-2 mt-md-4 text-center'><%=@listing.title %></h1>
    <div class='listing-specs container-fluid ml-5 d-flex flex-column'>
    <!-- Displays all the details for the car -->
      <div class='details-wrapper container-fluid d-flex flex-column'>
        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Make: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.make.name}" %>
          </div>       
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Model: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.model.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Year: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.year.year}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Engine type: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.engine.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Displacement: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.displacement}L" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Body style: </strong>
          </div> 
          <div class='col-6'>
            <%= "#{@listing.variant.body_type.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Doors: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.door.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Transmission: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.speed.name}-speed #{@listing.variant.transmission.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Drive-type: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.drive_type.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Fuel-type: </strong>
          </div>
          <div class='col-6'>
            <%= "#{@listing.variant.fuel.name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Colour: </strong>
          </div>
          <div class='col-6'>
            <%= "#{Colour.find_by(id: @listing.variant.colour_id).name}" %>
          </div>
        </div> <!-- close row -->

        <div class='row mb-3'>
          <div class='col-sm-4 col-md-3 col-lg-2  col-xxl-1'>
            <strong>Odometer: </strong>
          </div>
          <div class='col-6'>
            <%= "#{number_with_delimiter(@listing.mileage)} kms" %>
          </div>
        </div> <!-- close row -->
      </div>
      <div class='wrapper'>
        <div class='listing-features-container'>
          <h3 class='my-4'>Features</h3>
          <% @listing.features.each do |feature| %>
            <ul>
              <div class='badge badge-info'><li class='feature'><%= feature.name %></li></div>
            </ul>
          <% end %>
        </div>
        <div class='listing-description my-4'>
          <div class='mt-2 ml-4'><%= @listing.description %>
        </div>
      </div>
    </div> <!-- close listing-specs-container -->

    <%= render 'buy-button' %>

    <div class='form-row mt-3'>
      <div class ='d-flex justify-content-evenly mb-3'>
        <!-- putting if conditional outside instead of inside the link_to tags to reduce calls/processing -->
        <% if current_user&.id == @listing&.user_id %>
          <%= link_to 'Edit', edit_listing_path(@listing.id), class: 'btn btn-warning mr-3' %>
          <%= link_to 'Delete', @listing, method: :delete, data: {confirm: 'Are you sure you want to delete your listing?'} , class: 'btn btn-danger mr-3' %>
        <% end %>  
      </div>
    </div> <!-- close form-row -->
  </div> <!-- close sidebar -->
</div> <!-- close container -->

<!-- Scripts -->
<%= javascript_pack_tag 'imageSelect' %>