<h1><%= "#{current_user.username}'s Inbox" %></h1>

<div class="container">
  <div class="inbox">
    <% @conversations.each do |conversation| %>
      <% @recipient = @conversation.receiver(current_user) %>

      <% if !conversation.messages.empty? %>
        <a class="inbox-conversation" href="<%= conversation_messages_path(conversation) %>">
          <div class="inbox-messages-list">
            <div class="inbox-user-display">
              <% if @recipient.profile.image.attached? %>
                <%= image_tag @recipient.profile.image, alt: 'Profile picure', class: "user-profile-picture" %>
              <% else %>
                <%= image_tag "default-profile.png", alt: 'Profile picure', class: "user-profile-picture" %>
              <% end %>
              <span class="conversation-receiver"><%= @recipient.username.capitalize %></span>
            </div> <!-- Close inbox-user-display -->
            <div class="inbox-message-display">
              <% most_recent_message = conversation.messages.last %>
              <p class="inbox-most-recent-message"><%= most_recent_message.body %></p>
              <p class="inbox-time-sent"><%= time_ago_in_words(most_recent_message.created_at) %> ago</p>
            </div>
          </div> <!-- Close inbox-messages-list -->
        </a>
      <% end %>
    <% end %>

    <% if @conversations.empty? %>
      <p>There are no conversations</p>
    <% end %>
  </div> <!-- Close inbox -->
</div> <!-- Close container -->
