<div class="card-listing-image-container">
  <% if listing.pictures.attached? %>
    <%= image_tag listing.pictures[0], class: "card-listing-image" %>
  </div>
  <% else %>
    <%= image_tag "default-image.png", class: "card-listing-image" %>
  <% end %>
</div>  <!-- close card-listing-image-container -->

<div class="card-listing-container">
  <div class="card-listing-details">
    <div class="card-listing-title">
        <%= link_to "#{listing.title}", listing %>
    </div>
    <div class="card-listing-price">
        <%= number_with_delimiter(listing.price / 100) %>
    </div>
  </div> <!-- close card-listing-details -->

  <div clsas="card-listing-action">
    <div class="card-listing-state">
      <%= State.find(listing.state_id).name %>
    </div>
    <!-- Messaging and Buy buttons -->
    
        <div class="action-buttons">
          <%= button_to "Enquire", create_conversation_path(receiver_id: listing.user.id, sender_id: current_user.id), method: :post, params: { id: listing.id }, class: "btn btn-outline-info" %>
          <%= button_to "View Details", listing_path(listing_id: listing.id), class: "btn btn-primary" %>
        </div>
  </div> <!-- close card-listing-action -->
</div> <!-- card-listing-container -->
