<div class='d-flex flex-column justify-content-center align-items-center'>
  <h1 class='mt-4'>Book A Test Drive</h1>

  <%= render 'calendar', event: @event %>

  <!-- 
    Will not render form to create event new event if one already exists with 
    a purchase_id that corresponds to the current_user (buyer_id).
  -->
  <% unless Event.find_by_purchase_id(@purchase) %>
    <%= render 'form', event: @event %>
  <% else %>
    <p>Event already exists.</p>
    <%= pp "EVENT EXISTS"  %>
    <%= id = event_exists  %>
    <%= pp id %>
    <%= link_to 'Test Drive Event', event_path(id) %>
    <%#= redirect_back fallback_location: event_path(id) %>
    <%#= redirect_to event_url(event_exists) %>
  <% end %>
  <%= link_to 'Back', events_path %>

</div>