<div class="calendar row d-flex justify-content-center my-4">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">

<%= month_calendar(events: @events) do |date, events| %>
  <div class='calendar-cell'>
    <%= date.day %>

    <% events.each do |event| %>
    <div class='ml-2'>
      <div>
        <strong><%= event.name %></strong>
      </div>

      <div>
        <%= event.start_time.strftime("%I:%M %P") %>
      </div>
<!--
      <div>
        <strong>Confirmed:</strong>
        <%= event.confirmed ? "✅" : "❌" %>
      </div>
-->
  </div>
  <!--
      <div>
        <strong>Location:</strong>
        <%= "#{event.address} #{event.postcode}" %>
      </div>
  -->
    <% end %>
  </div> <!-- close calendar-cell -->
<% end %>
<%= link_to 'Edit', edit_event_path(@event.id), class: 'btn btn-warning my-4 mr-4' %>
<%= link_to 'Back', events_path, class: 'btn btn-primary my-4' %>
